$size: 12;
$white_color: #ffffff;

$primary_color_900: #0396ff;
$primary_color_800: #76809B;
$primary_color_700: #99a2bc;
$primary_color_600: #e6f4ff;
$primary_color_500: #f2faff;
$primary_color_400: #2b2f33;
$primary_color_300: #909294;

$space-XXXXS: calc(0.125 * 24px);
$space-XXXS: calc(0.25 * 24px);
$space-XXS: calc(0.5 * 24px);
$space-XS: calc(1 * 24px);
$space-S: calc(1.5 * 24px); // 36px
$space-MSS: calc(1.75 * 24px); // 40px
$space-MS: calc(2 * 24px); // 48px
$space-M: calc(2.5 * 24px); // 60px
$space-ML: calc(3 * 24px); // 72px
$space-L: calc(3.5 * 24px); // 84px
$space-LL: calc(4 * 24px); // 96px
$space-XL: calc(4.5 * 24px); // 108px
$space-XXL: calc(5 * 24px); // 120px
$space-XXXL: calc(6 * 24px); // 144px
$space-XXXXL: calc(7 * 24px); // 168px

$color_text_sub: rgba(51, 51, 51, 0.8);

$color-navi: #124e91;
